/*navbar*/
.navbar {
  position: relative;
  overflow: hidden;
  height: 10vh; 
  display: flex;
  align-items: center;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}

.nav-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  color: var(--color-font-dark-blue);
  font-family: var(--font-primary);
}
/* 로고 */
.nav-left .nav_logo {
  height: 8vh; 
  width: auto;
}

/* nav-right: 우측 영역 */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px; 
  font-size: 1.8vh; /*1.5vh*/
  font-weight: 400;
}

.user-profile{
  margin-top: -15px;
}
/* non-user-profile: 로그인 전 상태 */
.non-user-profile {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

/* user-profile: 로그인 후 상태 */
.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;

}

.user-profile .user_img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  object-fit: cover;
}

#nav-history,
#nav-logout {
  cursor: pointer;
  user-select: none;
}