body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.signup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%; 
  z-index: -1;
  pointer-events: none;
}

.signup-background svg {
  width: 100%;
  height: 100%;
  display: block;
}


.signup-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 5%;
}

#signup-logo {
    margin-top: 5%;
    width: 20%;
}

.signup-form {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 16px;               
  width: 20%;    
  color: var(--color-font-dark-blue);      
}
.signup-form h1{
    margin: 0;
}

.signup-form input {
  padding: 5%;
  border: 1px solid var(--color-main-blue);
  border-radius: 15px;
  font-size: 100%;
  width: 110%;  
  box-sizing: border-box;
  height: 60px;
}

.signup-form a{
    color: var(--color-font-black);
}
#signup-btn {
    width: 100%;
  padding: 5%;
  border: none;
  border-radius: 15px;
  background-color: var(--color-main-blue);
  color: white;
  font-size: 100%;
}

.profile-preview {
      position: relative;
      cursor: pointer;
      width: 120px;
      height: 120px;
    }

    .profile-preview img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ddd;
    }

    .camera-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      border-radius: 50%;
      padding: 3px;
      border: 1px solid #ccc;
    }

    .camera-icon img {
      width: 20px;
      height: 20px;
      display: block;
    }
