/*컬러 팔레트 및 폰트*/
/*
font-weight로 굵기 조절 가능
*/
:root {
  --font-primary: 'Pretendard Variable', sans-serif;

  --color-main-blue: #5287EA; /*button과 timeline에 사용*/
  --color-main-white: #ffffff;/*font와 배경에 사용*/

  --color-button-light: #D1E1FF;
  --color-button-grey: #EDF3FF;

  --color-font-dark-blue: #29477F;
  --color-font-black: #000000;
  --color-font-pink: #FF95BC;
  --color-font-yellow: #FFEC5A;
  --color-font-green: #5AED9C;
  --color-font-grey: #9D9D9D;

  /*그라데이션*/
  --color-sensitivity-level-light: #5570FF;
  --color-sensitivity-level-dark: #334399;

  --color-timelines-middle: #81B4F5;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; /* 기본값, 명시해도 OK */
  overflow-x: hidden;
}
.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh; 
  z-index: -1;
  pointer-events: none;
}

.main-background svg {
  width: 100%;
  height: 100%;
  display: block;
}

.main-circle{
  position: absolute;
  top: 60%;
  right: 0; 
  transform: translateY(-50%); 
  width: 50%; 
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.main-content{
  padding-left: 20px;
  color: var(--color-font-dark-blue);
}